<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->

    測試
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="fs-1">fs-1</p>
          <p class="fs-2">fs-2</p>
          <p class="fs-3">fs-3</p>
          <p class="fs-4">fs-4</p>
          <p class="fs-5">fs-5</p>
          <p class="fs-6">fs-6</p>
          <p class="fs-7">fs-7</p>
          <p class="fs-8">fs-8</p>
          <p class="fs-9">fs-9</p>
        </div>
        <div class="col">
          對照表 <br>
          $font-sizes: ( <br>
            1: (48px, 64px),<br>
            2: (36px, 48px),<br>
            3: (32px, 40px),<br>
            4: (24px, 32px),<br>
            5: (20px, 28px),<br>
            6: (18px, 28px),<br>
            7: (16px, 24px),<br>
            8: (14px, 20px),<br>
            9: (12px, 16px) <br>
          );
        </div>
      </div>
    </div>
    


    <!-- <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
